/* Reset */
*, 
*::after, 
*::before {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-weight: 400;
}
/* set up for body */
body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color:hsl( var(--clr-white));
    background-color: hsl( var(--clr-dark));
    font-weight: 400;

    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;

}

img,
picture{
    max-width: 100%;
    display: block
}

input,
button,
textarea,
section{
    font: inherit;
}

/* turn off the animations if preffered*/

@media (preferes-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
a{
    text-decoration: none;
}

/* variables */
:root {
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /* fonts */
    --fs-900: clamp(5rem, 10vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1.75rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}
@media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */

        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
;
    }
}
/* UTILITY CLASSES */
/* take all elements, that don't have a sibling berote it
 .flow > * + * {
    padding-top: 1rem;

} */
.d-block{
    display: block;
}
.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.flex {
    display: flex;
    gap: var(--gap, 1rem)

}
.grid {
    display: grid;
    gap: var(--gap, 1rem)
}
.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}


/* usability styling */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0,0);
    white-space: nowrap;
    border: 0;
}
.skip-to-content {
    position: absolute;
    z-index: 9999;
    background: hsl( var(--clr-white) );
    color: hsl( var(--clr-dark) );
    padding: .5em 1em;
    margin-inline: auto;
    transform: translateY(-100%);
    transition: transform 250ms ease-in;
}

.skip-to-content:focus {
    transform: translateY(0);
}
/* colors */

.bg-dark{
    background-color: hsl( var(--clr-dark));
}
.bg-accent{
    background-color: hsl( var(--clr-light));
}
.bg-white{
    background-color: hsl( var(--clr-white));
}
.bg-transparent-white{
    background-color: hsl( var(--clr-white) /.2);
}
.text-dark{
    color: hsl( var(--clr-dark));
}
.text-accent{
    color: hsl( var(--clr-light));
}
.text-white{
    color: hsl( var(--clr-white));
}
.text-white-alpha{
    color: hsl( var(--clr-white) / .2);
}

/* typography */
.ff-serif {font-family: var(--ff-serif);}
.ff-sans-cond {font-family: var(--ff-sans-cond);}
.ff-sans-normal {font-family: var(--ff-sans-normal);}

.letter-spacing-1 {letter-spacing: 4.75px;}
.letter-spacing-2 {letter-spacing: 2.7px;}
.letter-spacing-3 {letter-spacing: 2.35px;}

.uppercase {text-transform: uppercase;}

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }


.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.numbered-title{
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 4.72px;
}
.numbered-title > span {
    font-weight: bold;
    color: hsl( var(--clr-white) / .25);
    padding-right: .5em;
}

/* Components */

.large-button{
    font-size: 2rem;
    position: relative;
    text-decoration: none;
    border-radius: 50%;
    padding: 0 2em;
    display: inline-grid;
    place-items: center;
    aspect-ratio: 1;
    z-index: 1;
    

}

.large-button::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: hsl( var(--clr-white) / .15);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 600ms linear, transform 850ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
    opacity: 1;
    transform: scale(1.5);
}

/* primary logo */

.logo{
    margin: 2rem clamp(1em, 2em, 10%);
}
.primary-header{
    justify-content: space-between;
    align-items: center;
}
.primary-navigation {
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl( var(--clr-dark) / .95);
    
}
.primary-navigation a{
    text-decoration: none;
}
.primary-navigation a > span {
    font-weight: 700;
    margin-right: .5em;
}

.mobile-nav-toggle{
    display: none;
}

@supports (backdrop-filter: blur(1rem)){
    .primary-navigation{
        background-color: hsl( var(--clr-white) /.2);
        backdrop-filter: blur(1rem);
    }

}

@media (max-width: 35rem) {
    .primary-navigation {
        --underline-gap: .5rem;
        position: fixed;
        z-index: 99;
        inset: 0 0 0 30%;

        list-style: none;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: .5s ease-in-out;
        
    }
    .primary-navigation[data-visible="true"]{
        transform: translateX(0);
    }
    .primary-navigation.underline-indicators > .active {
        border: 0;
    }
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        top: 2rem;
        background-color: transparent;
        border: 0;
        background-image: url(images/hamburger.svg);
        background-position: center;
        aspect-ratio: 1;
        height: 1.5rem;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(images/close.svg);
    }


}

@media (min-width: 35em) {
    .primary-navigation {
        padding-inline: clamp(3rem, 7vw, 7rem);
    }
}

@media (min-width: 35em) and (max-width: 45em) {
    .primary-navigation a > span {
        display: none;
    }
}

@media (min-width: 1326px) {
    .logo{
        width: 5em;
        margin-left: 1em;
    }
    

     
    nav {
        order: 2;
    }
    
    .primary-navigation {
        margin-block: 2rem;
    }

    .line {
        width: 55%;
        height: 1px;
        background-color: hsl( var(--clr-white) / .5);
        position: absolute;
        margin-left: 10%;
        z-index: 99;
        justify-self: center;
    }

}

@media (max-width: 1325px) and (min-width: 960px){
    .line {
        max-width: 35%;
        height: 1px;
        background-color: hsl( var(--clr-white) / .5);
        position: absolute;
        margin-left: 10%;
        z-index: 99;
        justify-self: center;
    }

}




.underline-indicators > * {
    padding: var(--underline-gap, 1rem) 0;
    border-bottom: .2rem solid hsl( var(--clr-white) / 0);
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
    border-color:hsl( var(--clr-white) / .25);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
    border-color:hsl( var(--clr-white));
    color: hsl( var(--clr-white));
}

.underline-indicators button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    border-bottom: .2rem solid hsl( var(--clr-white) / 0);
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.tab-list {
    --gap: 2rem;
}

.dot-indicators > *{
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: .5em;
    background-color: hsl( var(--clr-white) / .25);

}
.dot-indicators > *:hover,
.dot-indicators > *:focus{
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: .5em;
    background-color: hsl( var(--clr-white) / .5);

}

.dot-indicators > [aria-selected="true"]{
    background-color: hsl( var(--clr-white) / 1);
}
.number-indicators{
    justify-content: center;
    flex-direction: column;
}
.number-indicators > *{
    cursor: pointer;
    border: 1px solid hsl( var(--clr-white) / .25);
    border-radius: 50%;
    background-color: transparent;
    width: 50px;
    aspect-ratio: 1;
    
}
.number-indicators > [aria-selected = "true"]{
    color: hsl( var(--clr-dark));
    background-color: hsl( var(--clr-white));
}
.number-indicators > *:hover,
.number-indicators > *:focus{
    border: 1px solid hsl( var(--clr-white) / 1);
}
nav{
    display: flex;
    justify-content: center;
}


/* ----------------------------- */
/* Page specific background      */
/* ----------------------------- */
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}
/* home */
.home {
    background-image: url(./images/home/background-home-mobile.jpg);
}

@media (min-width: 35rem) {
    .home {
        background-position: center center;
        background-image: url(./images/home/background-home-tablet.jpg);
    }
}

@media (min-width: 45rem) {
    .home {
        background-image: url(./images//home/background-home-desktop.jpg);
    }
}

/* Desination */

.destination-page {
    background-image: url(./images/destination/background-destination-mobile.jpg);
}
@media (min-width: 35rem){
    .destination-page {
        background-image: url(./images/destination/background-destination-tablet.jpg);
    }
    
}
@media (min-width: 45rem){
    .destination-page {
        background-image: url(./images/destination/background-destination-desktop.jpg);
    }
    
}
/* ----------------------------- */
/* Layout                        */
/* ----------------------------- */


.grid-container {
    text-align: center;
    display: grid;
    place-items: center;
    padding-inline: 1rem;
    padding-bottom: 4rem;

}

.grid-container p:not([class]) {
    max-width: 50ch;
}

/* destination layout */

.grid-container--destination {
    grid-template-areas: 
    'title'
    'image'
    'tabs'
    'content';
    --flow-space: 2rem;
}
.grid-container--destination h1{
    padding-bottom: 1em;
}
.numbered-title {
    grid-area: title;
}
.grid-container--destination img{
    grid-area: image;
    max-width: 60%;
    padding-bottom: 2em;
}
.grid-container--destination .tab-list{
    grid-area: tabs;
}
.destination-info{
    grid-area: content;
}
.destination-meta {
    flex-direction: column;
    border-top: 1px solid hsl( var(--clr-white) / .1) ;
    padding-top: 2.5rem;
    margin-top: 2.5rem;
}
.destination-meta p{
    font-size: 1.75em;
}
@media (min-width: 35em){
    .numbered-title{
        justify-self: start;
        margin-block-start: 2em;
    }
    .destination-meta{
        flex-direction: row;
        justify-content: space-evenly;
    }


}
@media (min-width: 45em) {
    .grid-container {
        text-align: left;
        column-gap: var(--container-gap, 2rem);
        grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(1rem, 1fr);
    }
    
    .grid-container--home > *:first-child {
        grid-column: 2;
    }

    .grid-container--home > *:last-child {
        grid-column: 3;
    }
    
    .grid-container--home {
        padding-bottom: max(6rem, 20vh);
        align-items: end;
    }
    .grid-container--destination {
        padding-inline: 10%;
        justify-items: center;
        align-content: center;
        grid-template-areas: 
            'title title title .'
            '. image tabs .'
            '. image content content';
    }
    .grid-container--destination .tab-list{
        justify-self: center;
        padding-left: 4em;

    }
    .grid-container--destination > img {
        max-width: 90%;
    }
    
    .destination-meta {
        --gap: min(5vh, 6rem);
        justify-content: start;
    }


}

/* crew layout */
.crew-page{
    background-image: url(./images/crew/background-crew-mobile.jpg);
}

.grid-container--crew{
    grid-template-areas: 
        'title'
        'image'
        'indicators'
        'content';
    ;
}
.grid-container--crew h1{
    grid-area: title;
    justify-self: center;
}
.grid-container--crew img {
    grid-area: image;
    max-width: 60%;
    border-bottom: 1px solid hsl( var(--clr-white) / .2);
}

.grid-container--crew .dot-indicators{
    grid-area: indicators;
}
.crew-details {
    grid-area: content;
}
@media (max-width: 1334px){
    .crew-page{
        background-image: url(./images/crew/background-crew-tablet.jpg);
    }
    
    .grid-container--crew {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'title'
            'content'
            'indicators'
            'image';
        justify-content: center;
    }
}
@media (min-width: 1335px){
    .crew-page{
        background-image: url(./images/crew/background-crew-desktop.jpg);
    }
    .grid-container--crew {
        grid-template-columns: 20% 1fr 1fr;
        grid-template-areas: 
            '. title image'
            '. content image'
            '. indicators image';
        padding-bottom: 0;
    }

    .grid-container--crew h1, .grid-container--crew .dot-indicators, .grid-container--crew > article {
        justify-self: start;
    }
    .grid-container--crew picture{
       max-width: 100%;
       justify-self: center;
   
       
    }

}

/* Technology layout */

.technology-page {
    background-image: url(./images/technology/background-technology-mobile.jpg);
}
.grid-container--technology {
    align-content: start;
    grid-template-areas: 
    'title'
    'image'
    'tabs'
    'article';
    row-gap: 3em;
    margin: 0;
    padding: 0;
}
.grid-container--technology h1{
    grid-area: title;
}
.grid-container--technology .tab-image {
    grid-area: image;
    background-image: url(./images/technology/image-launch-vehicle-landscape.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 100%;
}

.grid-container--technology .number-indicators{
    flex-direction: row;
    grid-area: 'tabs';
    padding-top: 1em;
}
.grid-container--technology article{
    padding-top: 1.5em;
}


@media (min-width: 620px){
    .technology-page{
        background-image: url(./images/technology/background-technology-tablet.jpg);
    }
    .grid-container--technology{
        grid-template: 
        'title'
        'image'
        'tabs'
        'article';
        row-gap: 20px;
        padding-bottom: 15vh;
        padding-top: 5vh;
    }
    .technology-page .numbered-title{
        padding-left: 2em;
        grid-area: title;
    }
    .grid-container--technology .tab-image {
        grid-area: image;
        background-image: url(./images/technology/image-launch-vehicle-landscape.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        width: 100%;
    }




}

@media (min-width: 1335px){
    .technology-page{
        background-image: url(./images/technology/background-technology-desktop.jpg);
    }
    .grid-container--technology {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: .5fr 1fr 1fr;
        grid-template-areas:
        'title title title'
        'tabs  article image'
        '. . image';
        column-gap: 10px;
        row-gap: 0;
        margin: 0;
        padding: 0;
        padding-bottom: 5vh;
    }
    .grid-container--technology .numbered-title{
        grid-area: title;
        align-self: center;
        padding-left: 10em;
        
    }
    .grid-container--technology .number-indicators{
        grid-area: tabs;
        flex-direction: column;
        justify-self: center;
        height: 100%;
    }
    .grid-container--technology .number-indicators > * {
        width: 80px;
        aspect-ratio: 1;
        font-size: 1.5em;
        
    }
    .grid-container--technology article{
        grid-area: article;
        justify-self: start;
        margin-left: -20%;
    }
    .grid-container--technology .tab-image{
        grid-area: image;
        justify-self: end;
        align-self: flex-end;
        
        width: 100%;
        height:  100%;
        aspect-ratio: 1 3;
        padding-bottom: 20%;
        background-image: url(./images/technology/image-launch-vehicle-portrait.jpg);
        background-size: center;
        background-position: unset;
        background-repeat: no-repeat;
    }
    
    .grid-container--technology .landscape{
        display: none;
    }
}
